<!DOCTYPE html>

<html>

<title>Sensei</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
        /*background-image: url('https://images.unsplash.com/photo-1472566316349-bce77aa2a778?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d008375f2174fbe7fd36f5ad74a576b&auto=format&fit=crop&w=1950&q=80');*/
        yJhcHBfaWQiOjEyMDd9&s=d39de2a0cbb04435be36d9a04a16d069&auto=format&fit=crop&w=1950&q=80');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
  </style>


  <head>
    <title>Sensei</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
This is a website. 
  </body>
</html>
